<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Head importado de layout -->
<head th:replace="layout/layout :: head"></head>
<body>
    <!-- Header importado de layout -->
    <header th:replace="layout/layout :: header"></header>

    <!-- Contenido de la pagina -->
    <div class="container py-4">
        <h1 class="text-center" th:text="${titulo}"></h1>
        <div><a th:href="@{/formCliente}" class="btn btn-primary btn-xs"> Agregar Cliente</a></div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Nacimiento</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cliente: ${clientes}">
                    <td th:text="${cliente.id}"></td>
                    <td th:text="${cliente.nombre}"></td>
                    <td th:text="${cliente.apellido}"></td>
                    <td th:text="${cliente.email}"></td>
                    <td th:text="${cliente.telefono}"></td>
                    <td th:text="${cliente.fechaNacimiento}"></td>
                    <td> <a th:href="@{/formCliente/} + ${cliente.id}" th:text="'✍'"></a></td>
                    <td> <a th:href="@{/eliminar/} + ${cliente.id}" th:text="'🗑'" onclick="return confirm('Estás seguro que quieres eliminar?');"></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <!-- Footer de layout -->
    <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>